#Custom
*.vs
*.VC.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
GLFWApplication/.vs
GLFWApplication/.vs/GLFWApplication
GLFWApplication/Dependencies/SDL/VisualC

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

GLFWApplication/.vs/GLFWApplication/v17/Browse.VC.db
