#Custom
*.vs
*.vcxproj
*.VC.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
.vs
GLFWApplication/.vs/GLFWApplication/x64
GLFWApplication/Dependencies/SDL/VisualC


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

